absl-py==2.3.1
antlr4-python3-runtime==4.9.3
black==25.1.0
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
cloudpickle==3.1.1
contourpy==1.3.3
cryptography==46.0.1
cycler==0.12.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@a1ce2f956a1d2212ad672e3c47d53405c2fe4312
filelock==3.13.1
fonttools==4.59.2
fsspec==2024.6.1
fvcore==0.1.5.post20221221
grpcio==1.75.0
hydra-core==1.3.2
iopath==0.1.9
jinja2==3.1.4
kiwisolver==1.4.9
layoutparser==0.3.4
markdown==3.9
markupsafe==2.1.5
matplotlib==3.10.6
mpmath==1.3.0
mypy-extensions==1.1.0
networkx==3.3
numpy==1.26.4
omegaconf==2.3.0
opencv-python==4.10.0.84
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
pdf2image==1.17.0
pdfminer-six==20250506
pdfplumber==0.11.7
pillow==11.3.0
platformdirs==4.4.0
portalocker==3.2.0
protobuf==6.32.1
pycocotools==2.0.10
pycparser==2.23
pymupdf==1.24.9
pymupdfb==1.24.9
pyparsing==3.2.4
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
sympy==1.13.3
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
torch==2.3.1+cpu
torchvision==0.18.1+cpu
tqdm==4.67.1
typing-extensions==4.15.0
tzdata==2025.2
werkzeug==3.1.3
yacs==0.1.8
